@font-face {
    font-family: "Helvetica Neue";
    src: url-loader('../fonts/HelveticaNeue.ttc');
}

%font-family-default {
    font-family: 'Helvetica Neue', Arial;
}

%button-color {
    background-color: #9c83be;
}

%text-color {
    color: #7e479b;
}

%click-event {
    cursor: pointer;
    transition: 0.5s;
    &:hover {
        opacity: 0.7;
    }
}

* {
    box-sizing: content-box;
}

html,
body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    @extend %font-family-default;
    .index {
        text-align: center;
        .access_button {
            text-decoration: none;
            color: #FFF;
            padding: 20px 10px;
            margin: 10px auto;
            display: block;
            width: 280px;
            border-bottom: 5px solid #5c407f;
            @extend %click-event;
            @extend %button-color;
        }
    }
    section#max-doctor {
        background-image: url(../images/bg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 414px;
        height: 736px;
        margin: 20px auto;
        border-radius: 5px;
        header {
            text-align: center;
            margin: 0 auto;
            padding-top: 50px;
            width: 280px;
            img {
                width: 160px;
                height: auto;
            }
            h3 {
                font-size: 15px;
                text-transform: uppercase;
                margin: 25px 0 0 0;
                @extend %text-color;
            }
        }
        form {
            margin: 70px auto 0;
            width: 300px;
            #return-message {
                position: absolute;
                top: -50px;
                left: 0;      
                box-shadow: 0 0 10px rgba(0, 0, 0 ,0.6);
                color: #FFF;
                width: 100%;
                text-align: center;
                transition: 0.3s;
                background-color: #CCC;
                @extend %font-family-default;
                &.active {
                    top: 0;
                    @mixin messageStyle($color, $colorA, $colorB, $borderColor) {
                        background-color: $color;
                        background: linear-gradient(45deg, $colorA, $colorB);
                        border-bottom: 3px solid $borderColor;
                    }
                    @include messageStyle(#c52449, rgba(181, 19, 22, 0.87), #ad2e45, #6d132f);
                    &.success {
                        @include messageStyle(#2dbf2d, rgba(85, 181, 19, 0.87), #2ead55, #2c6d13);
                    }
                }
            }
            .form_fields {
                .field {
                    width: 100%;
                    height: 25px;
                    &:not(:last-of-type) {
                        margin-bottom: 15px;
                        border-bottom: 1px solid #aea3be;
                    }
                    label {
                        color: #6b6a6b;
                        font-size: 12px;
                        margin-right: 15px;
                        @extend %font-family-default;
                    }
                    .uf_data {
                        display: inline;
                    }
                    select,
                    input {
                        &:not(.button_style) {
                            border: none;
                            font-size: 15px;
                            vertical-align: -1px;
                            background: none;
                        }
                        @extend %font-family-default;
                        &:focus {
                            outline: 0;
                        }
                    }
                    select {
                        width: calc(100% - 45px);
                        margin-left: 13px;
                        -moz-appearance:none; /* Firefox */
                        -webkit-appearance:none; /* Safari and Chrome */
                        appearance:none;
                        background-image: url(../images/arrow_down.png) !important;
                        background-repeat: no-repeat !important;
                        background-size: 20px !important;
                        background-position: center right !important;
                        option:disabled {
                            color: #b4b3b4;
                        }
                    }
                    .button_style {
                        width: 100%;
                        border: none;
                        border-radius: 4px;
                        color: #FFF;
                        padding: 10px 0;
                        text-transform: uppercase;
                        @extend %click-event;
                        @extend %button-color;
                    }
                }
                .disclaimer {
                    font-size: 13px;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 20px auto;
                    line-height: 25px;
                    width: 230px;
                    @extend %text-color;
                }
            }
        }
        footer {
            text-align: center;
            margin: 50px 0 0 0;
            .icon {
                img {
                    width: 60px;
                    height: auto;
                }
                p {
                    font-size: 12px;
                    color: #6b6a6b;
                    text-transform: uppercase;
                }
            }
            .icons-2 {
                display: grid;
                grid-template-columns: 50% 50%;
                width: 320px;
                margin: 0 auto 10px;      
                align-items: end;
            }
            .icons-3 {
                display: grid;
                grid-template-columns: auto auto auto;
                align-items: end;
                width: 360px;
                margin: 0 auto;
            }
        }
    }
}

@media screen and (max-width: 415px) { 
    body {
        section#max-doctor {
            margin: 0 auto;
        }
    }
}